/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.ZhuYecssStart {}

.u4ec4b {
    background-repeat: no-repeat;
    background-position-y: 106%;
}

.ub90d4 {
    display: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
}

.ucf131 {
    align-items: center;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.u17f74 {
    width: 10.7em;
}

.u5bb91 {
    align-items: center;
}

.u6fc5f {
    color: #0098e8;
    font-size: 1.6em;
    margin-bottom: 5px;
    font-weight: bold;
}

.u5a556 {
    color: rgba(239, 109, 148, 1);
    margin-top: -0.4em;
}

.ubf1d5 {
    display: block;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-left: 0em;
    padding-right: 0em;
    background-color: rgba(254, 254, 254, 1);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(88, 132, 245, 1);
    left: 0em;
    z-index: 100;
    position: fixed;
    top: 0em;
}

.ub41f4 {
    padding-top: 0em;
    padding-left: 0em;
    padding-right: 0em;
    padding-bottom: 0.5em;
}

.ub3771 {
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.uab3b3 {
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.ue1285 {
    padding-top: 1.4em;
}

.u29a54 {
    display: block;
    justify-content: center;
}

.ue8b75 {
    text-align: center;
}

.u828b5 {
    display: none;
}

.menu_item_active {
    background-color: #0098e8;
    color: rgba(255, 255, 255, 1);
}

.nav-link {
    color: rgba(18, 18, 18, 1) !important;
}

.ua75df {
    margin-top: 3.7em;
}

.u48dd2 {
    width: 100%;
    min-height: 12em;
}

.u5737f {
    z-index: -2 !important;
}

.u6227d {
    z-index: -2 !important;
}

.u2753f {
    left: 10%;
}

.u25f18 {
    right: 10%;
}

.u70e61 {
    align-items: center;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.u72021 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(252, 252, 252, 1);
    z-index: 10;
}

.u8fb71 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ud9b2c {
    font-size: 1.7em;
    font-weight: bold;
}

.u4de28 {
    font-size: 1.3em;
    font-weight: bold;
}

.ub77ab {
    font-size: 1.2em;
}

.u89338 {
    display: flex;
    justify-content: space-between;
    width: 3.5em;
}

.circle {
    width: 0.6em;
    height: 0.6em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background-color: rgba(244, 242, 242, 1);
}

.u80c46 {
    margin-top: 1em;
}

.ud2374 {
    padding-left: 1em;
    padding-right: 1em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #ccc;
    padding-top: 1em;
    padding-bottom: 1em;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #ccc;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ccc;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #ccc;
}

.uabb64 {
    width: 100%;
}

.u1b713 {
    display: -webkit-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.u06795 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.uf54de {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    background-color: #f0f9fe;
    margin-right: 0.5em;
    color: #0098e8;
    border: 1px solid #66c1f1;
}

.u4d962 {
    display: -webkit-box;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.u637eb {
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.5em;
    color: rgba(255, 255, 255, 1);
}

.u2da7d {
    background-color: #2a2d32;
}

.udd4b0 {
    display: flex;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    flex-wrap: wrap;
}

.ucfe94 {
    margin-bottom: 0.5em;
    color: rgba(235, 232, 232, 1);
    margin-right: 0.5em;
}

.uc6bf1 {
    color: rgba(235, 232, 232, 1);
    margin-right: 0.5em;
}

.ucfe94 {
    color: rgba(235, 232, 232, 1);
}

.u6b475 {
    display: flex;
    justify-content: center;
}

.uae812 {
    color: #53585f;
    line-height: 24px;
}

.u1bd1e {
    color: rgba(109, 213, 239, 1);
}

@media (min-width: 992px) {
    .ub90d4 {
        display: block;
    }

    .ucf131 {
        display: flex;
        justify-content: space-between;
    }

    .u5bb91 {
        display: flex;
    }

    .uccd33 {
        display: flex;
        flex-direction: column;
    }

    .ubf1d5 {
        position: static;
    }

    .ub41f4 {
        padding-top: 0em;
        padding-left: 0em;
        padding-right: 0em;
        padding-bottom: 0em;
    }

    .ub3771 {
        display: none;
    }

    .ue1285 {
        padding-top: 0em;
    }

    .ue8b75 {
        padding-top: 1em;
        padding-left: 2em !important;
        padding-right: 2em !important;
        padding-bottom: 1em;
    }

    .ua75df {
        margin-top: 0em;
    }

    .ud9b2c {
        font-size: 3em;
    }

    .uabb64 {
        width: 20em;
    }

    .ucc454 {
        flex: auto;
        margin-right: 38px;
    }
}

.u29a54:hover a {
    background-color: #0098e8;
    color: rgba(255, 255, 255, 1) !important;
}

.menu_item_active a {
    color: rgba(255, 255, 255, 1) !important;
}

.ZhuYecssEnd {}