/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.shoyecssStart {}

.ub41f4 {
    color: rgba(132, 132, 132, 1);
}

.u7bf3e {
    height: 49px;
}

.u55978 {
    margin-left: -113px;
}

.ue8b75 {
    font-weight: lighter;
}

.u29a54 {
    margin-left: 554px;
    right: 0px;
    position: absolute;
}

.ue8b75 {
    margin-left: 115px;
}

.u31859 {
    box-shadow: 0px 0px 0px 0px #ccc;
    font-weight: normal;
}

.u847d6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(113, 130, 128, 1);
    padding-top: 4px;
}

.ue6f31 {
    width: 1300px;
}

.u3b188 {
    font-weight: lighter;
    text-align: center;
    color: rgba(17, 16, 16, 1);
    font-size: 19px;
    background-color: rgba(113, 130, 128, 1);
}

.u71acb {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(32, 81, 94, 1);
}

.u616cb {
    height: 500px;
}

.u327fb {
    font-weight: lighter;
    text-align: center;
    font-size: 24px;
    background-color: rgba(113, 130, 128, 1);
}

.ud9316 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(113, 130, 128, 1);
}

.u1c7c2 {
    height: 38px;
}

.u0a187 {
    width: 106px;
}

.u9b545 {
    width: 200px;
}

.uf0161 {
    width: 200px;
}

.u00407 {
    height: 55px;
}

.u0220c {
    width: 196px;
}

.u2da7d {
    background-color: #2a2d32;
}

.u6b475 {
    display: flex;
    justify-content: center;
}

.uae812 {
    color: #53585f;
    line-height: 24px;
}

.u70e27 {
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 10px;
}

.shoyecssEnd {}