.main {
    margin: 0px;
    padding: 0px;
}

.XiaZaicssStart {}

.u1ac67 {
    padding-top: 40px;
}

.u3e590 {
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.u6be51 {
    color: rgba(244, 247, 245, 1);
    font-weight: lighter;
}

.u5aedd {
    display: inline;
    color: rgba(21, 21, 21, 1);
    box-shadow: 0px 0px 0px 0px #ccc;
}

.XiaZaicssEnd {}

.ZhiFucssStart {}

.u53edf {
    font-weight: normal;
    color: rgba(255, 1, 1, 1);
}

.ucifdbp {
    display: inline-block;
    width: 162px;
    color: rgb(48, 49, 51);
    text-align: start;
    background-color: rgb(255, 255, 255);
    margin-right: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 2px 2px 3px 0px rgba(26, 26, 26, 0.2);
}

.ucl4vm1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    text-align: start;
    background-color: rgb(25, 207, 138);
    position: relative;
    background-image: url("https://s1.ax1x.com/2020/06/27/NyU04x.png");
    padding-left: 15px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

.ucaavr6 {
    display: block;
    position: relative;
    color: rgb(255, 255, 255);
    text-align: start;
    text-transform: capitalize;
    margin-top: 10px;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.ucfo772 {
    display: -webkit-box;
    height: 60px;
    color: rgb(48, 49, 51);
    text-align: start;
    padding-left: 7px;
    padding-right: 7px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.uchwp1u {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(25, 207, 138);
    background-color: rgb(25, 207, 138);
    line-height: 30px;
    margin-left: 16.5px;
    margin-top: 4px;
    margin-right: 16.5px;
    margin-bottom: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ZhiFucssEnd {}