/* 欢迎使用guiPlan,以下代码均由guiPlan软件生成，如有疑问添加添加作者微信guiplan或加入学习交流qq群711964722  */
.main {
    margin: 0px;
    padding: 0px;
}

.drawapieindexhtmlcssStart {}

.u4fe4kj {
    font-size: 21px;
}

.u79d57 {
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

.u0bf07 {
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

.u56bae {
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

.udef4b {
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

.u80e10 {
    font-size: 21px;
    color: rgba(255, 255, 255, 1);
}

.u999ed {
    font-size: 21px;
}

.u5a9fd {
    color: rgba(125, 120, 121, 1);
    font-size: 15px;
    text-align: center;
}

.drawapieindexhtmlcssEnd {}