.main {
    margin: 0px;
    padding: 0px;
}
.XiaZaicssStart {}

.u1ac67 {
    padding-top: 40px;
}

.u3e590 {
    width: 100%;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.u6be51 {
    color: rgba(244, 247, 245, 1);
    font-weight: lighter;
}

.u5aedd {
    display: inline;
    color: rgba(21, 21, 21, 1);
    box-shadow: 0px 0px 0px 0px #ccc;
}

.XiaZaicssEnd {}